{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle" : ["error", { "allow": ["_id"] }],
    "comma-dangle": ["error", "only-multiline"],
    "no-console": "off",
    "quotes": "off",
    "no-debugger": "off"
  }
}